@charset "utf-8";
main {
  margin-top: 30px;
}
main div.left a {
  display: block;
  line-height: 40px;
  font-size: 15px;
}
main div.right {
  line-height: 2em;
}
main div.news-date {
  margin: 15px;
}
