@charset "utf-8";
header.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
header.container-fluid nav.navbar {
  border-radius: 0;
  min-height: 40px;
  background-color: #012269;
  margin-bottom: 0;
}
header.container-fluid nav.navbar a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  height: 40px;
  color: #C7CAD6;
}
header.container-fluid nav.navbar input {
  padding-top: 0 ;
  padding-bottom: 0 ;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #8091B4;
  width: 150px;
  vertical-align: top;
}
header.container-fluid nav.navbar span {
  color: #C7CAD6;
  margin-left: 10px;
}
header.container-fluid nav.navbar ul.navbar-right {
  margin-right: 60px;
}
header.container-fluid section {
  background: url("../images/top_bg.jpg") no-repeat right top;
  height: 156px;
  position: relative;
}
header.container-fluid section > div {
  background: url("../images/top_icon.png") no-repeat right bottom;
}
header.container-fluid section > div img {
  margin-top: 15px;
}
header.container-fluid section menu {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 106px ;
  height: 50px;
  line-height: 50px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
header.container-fluid section menu div.container {
  display: flex;
}
header.container-fluid section menu div.container dl dt {
  margin-right: 50px;
  color: white;
  font-size: 16px;
  line-height: 50px;
  font-weight: 200;
  cursor: default;
}
header.container-fluid section menu div.container dl dd {
  display: none;
  position: absolute;
  margin-top: -10px;
  border: 1px #06449E solid;
  background-color: white;
}
header.container-fluid section menu div.container dl dd a {
  display: block;
  padding: 10px 15px;
  border-top: 1px #06449E dotted;
}
header.container-fluid section menu div.container dl dd a:hover {
  background-color: #ccccbb;
}
header.container-fluid section menu div.container dl:hover dd {
  display: block;
}
footer {
  background: url("../images/footer_bg.jpg") no-repeat;
  padding-top: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}
footer div.container a {
  display: block;
  color: white;
  line-height: 25px;
}
footer div.container dl {
  margin-bottom: 0;
}
footer div.container dl dt {
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 15px;
}
footer div.container dl dt.line {
  border-bottom: 1px white solid;
  margin-bottom: 10px;
}
footer div.container dl dd p {
  color: white;
}
footer div.container div.col-md-3:last-child {
  text-align: center;
}
footer div.container div.col-md-3:last-child img {
  width: 80%;
  margin-bottom: 15px;
}
footer > p {
  height: 40px;
  text-align: center;
  background-color: #041438;
  color: #5C716E;
  line-height: 40px;
  margin-bottom: 0;
}
