    <link rel="stylesheet" href="/css/detail.css">
    <style>
      div.sss img {
        width: 100%;
        border-radius: 5px;
      }

      div.sss p {
        line-height: 1.5em;
        text-indent: 2em;
        text-align: justify;
      }

    </style>
    <main class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">新闻中心
                <small>News Center</small>
              </h3>
            </div>
            <div class="panel-body left">
              <a href="/#">学校新闻</a>
              <a href="/#">媒体视点</a>
              <a href="/#">热点推荐</a>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style="line-height: 17px">新闻中心
                <span class="pull-right" style="font-size: 13px">当前位置：<a href="//">首页</a> &gt; <a
                    href="/#">学校新闻</a></span>
              </h3>
            </div>
            <div class="panel-body right">
              <div class="news-info">
                <h4 class="text-center">学校召开2018年新进教师座谈会</h4>
                <div class="news-date text-center">
                  发布时间：<%=date%> 07:33 浏览：
                  136次 来源：教学部
                </div>
                <!-- <p style="text-indent: 2em; line-height: 1.5em;">
                  <span style="font-size: 14px; font-family: 宋体, SimSun;">content</span>
                </p>
                <p style="line-height: 1.5em; text-indent: 0em; text-align: center;">
                  <span style="font-size: 14px; font-family: 宋体, SimSun;">
                    <img src="/images/new4.jpg" style="width: 100%;">
                  </span>
                </p> -->
                <div class="sss">
                  <%-content%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
